/* @media (min-width: 768px) {
  .container {
     padding-left: 16px;
    padding-right: 16px;}} */

@media (min-width: 768px) {
  .container {
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container.container-mini {
    width: 582px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  .team-item {
    width: 264px;
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .customers-item {
    width: 168px;
  }
  .customers-list {
    column-gap: 24px;
  }
  .footer-container {
    column-gap: 24;
    flex-direction: row;
    align-items: baseline;
    text-align: start;
  }
  .footer-input-subscription {
    margin-bottom: 0px;
  }
  .footer-form-subscription {
    display: flex;
    gap: 24px;
  }
  .footer-subscription-text {
    text-align: start;
  }
  .footer-social-title {
    text-align: start;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .features-list {
    column-gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-title {
    text-align: start;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .address-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
  }
  .header-logo {
    margin-right: 120px;
  }
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
/* ====================@media (min-width: 768px) and (max-width: 1199px)===============*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    column-gap: 24px;
  }
  .header-list {
    margin-right: 118px;
  }
}
